<h1>Welcome to Labs and Things</h1>

<h3>Login here or with <%= link_to "Github", "/auth/github" %></h3> 

<%= form_tag login_path do %>
<%= label_tag :email %>
<%= text_field_tag :email %>
<br>
<%= label_tag :password %>
<%= password_field_tag :password %>
<br>
<%= submit_tag "Login" %>
<% end %>
<br>

<%= link_to "Sign up",  new_user_path %>