<%= form_for @laboratory do |f| %>

<% if @laboratory.errors.any? %>
  <div id="errors_explanation">
    <h3><%= pluralize(@laboratory.errors.count, 'error') %> did'nt allow your form to save</h3>
    <% @laboratory.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>

<%= render partial:"labfields", locals: {lab: f} %>

<%= f.submit %>
<% end %>