<h1>Create a new Laboratory</h1>

<%= form_for @laboratory do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :lab_type %>
  <%= f.text_field :lab_type %>
  <br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :lab_hours %>
  <%= f.text_field :lab_hours %>
  <br>
  <%= f.label :days_of_operation %>
  <%= f.text_field :days_of_operation %>
<br>
<br>
<%= f.submit %>
<% end %>


<p><%= link_to "Profile", user_path(@user)%></p>