<h2>Welcome to <%= @lab.name %> Lab page!</h2>

<h4><%= %></h4>
<h4><%= %></h4>
<h4><%= %></h4>
<h4><%= %></h4>
<h4><%= %></h4>


<p><%= link_to "Go to user profile", user_path(@current_user)%></p>
<p><%= link_to "Add appointment", new_user_appointment_path(@current_user)%></p>