<h2>Welcome to <%= @lab.name %> Lab page!</h2>

<h4>Lab Name: <%= @lab.name %></h4>
<h4>Type: <%= @lab.lab_type %></h4>
<h4>Phone number: <%= number_to_phone(@lab.phone_number) %></h4>
<h4>Address: <%= @lab.address %></h4>
<h4>Days available: <%= @lab.days_of_operation %></h4>

--------------------------------
<h3>These appointments are pertaining to <%= @lab.name %> only.</h3>

<ul>
<% @appointments.each do |appt| %>
  <li>
  Type: <%= appt.type_of_appt %> |
  Time: <%= appt.appt_time %> |
  Date: <%= appt.appt_date %> |
  Patient: <%= "#{appt.user.first_name} #{appt.user.last_name}" %> |
  </li>
<% end %>
</ul>

<p><%= link_to "Go to user profile", user_path(@current_user)%> | <%= link_to "Add appointment", new_user_appointment_path(@current_user)%></p>