<h1>You are now logged in <%= @user.first_name.capitalize if @user.first_name %> <%= @user.last_name %>.</h1>

<p class="intro">Welcome to your profile. Your information is displayed here for you to see.</p>

<div class="user-data">
  <h4>Patient email: <%= @user.email %></h4>
  <h4>Patient last name: <%= @user.last_name %></h4>
<% if @user.birthdate %>
  <h4>Patient birtdate: <%= @user.birthdate.strftime("%B %d, %Y") %></h4>
<% end %>

  <span><%= link_to "Edit profile", edit_user_path(@user) %></span>
</div>

<br>
----------------------------------------

<div class="user-appts">
  <h2>This is your appointments section.</h2>

  <% if !@user.appointments.empty? %>
    <h3>Total appointments pending: <%= @user.laboratories.uniq.count %></h3>
    <%= link_to "Appointments page", appointments_path %>
  <% else %>
    <h3>You're all caught up with appointments this month. Great job.<h3>
    <%= link_to "Add a new appointment", new_appointment_path(@user)%> 
  <% end %>
  <div>
<br>

----------------------------------------

<br>

<div class="user-labs">

  <h2>These are the Laboratories you will be visiting for your scheduled appointments.</h2>
  <p>Click on the laboratory name to visit its information page and view your appointments.</p>

  <ul>
    <% @user.laboratories.uniq.each do |lab| %>
      <li>Laboratory name: <%= link_to lab.name, laboratory_appointments_path(lab) %></li>
      <li>Type: <%= lab.lab_type %></li>
      <li>Phone: <%= number_to_phone(lab.phone_number) %></li>
    <% end %>
  </ul>

<%= link_to "Add new laboratory and new appointment", new_laboratory_path %>
<br>
<br>
<%= link_to "Add new appointment to existing laboratory", laboratories_path %>


</div>
<br>