<%= form_for [@laboratory, @appointment]  do |f| %>

<% if @appointment.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@appointment.errors.count, "error" ) %> did'nt allow your form to save.</h3>
    <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial:"apptfields", locals:{f: f} %>

<% if @laboratory.nil? %>
  <p>Pick existing Lab</p>
  <%= render partial:"laboratories/labselect", locals:{f: f} %>

  <% if false %>
    <p>Or add a new Laboratory</p>
    <%= f.fields_for :laboratory , @appointment.build_laboratory do |lab| %>
      <%= render partial:"laboratories/labfields", locals: {lab: lab} %>
    <% end %>
  <% end %>

<% end %>

<br>
<br>
  
  <%= f.submit %>
<% end %>
<br>