<h1>These are your scheduled appointments <%= @current_user.first_name %>.</h1>


<ol>
<% @current_user.appointments.each do |appt| %>
  <li>Appointment for: <%= appt.type_of_appt %> | Time: <%= appt.appt_time %> | Date: <%= appt.appt_date %> | Lab: <%= appt.laboratory.name %></li>
<% end %>
</ol>


<br>
<p><%= link_to "Go to user profile", user_path(@current_user)%></p>