<h1>Schedule a new appointment</h1>

<%= form_for([@user, @appointment]) do |f| %>
  <%= f.label :type_of_appt %>
  <%= f.text_field :type_of_appt %>
  <br>
  <%= f.label :appt_time %>
  <%= f.text_field :appt_time %>
  <br>
  <%= f.label :appt_date %>
  <%= f.text_field :appt_date %>
  <br>
  <%= f.submit "Add Appointment" %>
<% end %>