<h2>Hello <%= @current_user.first_name %> this is your scheduled appointment information.</h2>

<% @current_user.appointments.each do |appt| %>
  <p><%= appt.type_of_appt %></p>
  <p><%= appt.appt_time %></p>
  <p><%= appt.user.last_name %></p>
  <p><%= appt.laboratory.name %></p>
<% end %>
</ul>

<br>
<p><%= link_to "Go to user profile", user_path(@current_user)%></p>
<p><%= link_to "Go to Laboratory info page", laboratory_path(@current_user.appointments.first.laboratory)%></p>