<h2><%= @user.first_name %>, your appointment info.</h2>

  <p>Appointment type: <%= @appointment.type_of_appt %></p>
  <p>Appointment time: <%= @appointment.appt_time %></p>
  <p>Appointment date: <%= @appointment.appt_date %></p>
  <p>Verify patient last name: <%= @appointment.user.last_name %></p>
  <p>Verify correct laboratory: <%= @appointment.laboratory.name %></p>

<br>
<%= link_to "Profile", user_path(@user)%> | <%= link_to "Get #{@appointment.laboratory.name} info", laboratory_path(@appointment.laboratory.id) %> | <%= link_to "Edit appointment", edit_appointment_path(@appointment)%>

<br>
<br>
<%= button_to "Remove appointment", appointment_path(@appointment), method: :delete %>