<!DOCTYPE html>
<html>
  <head>
    <title>LabsAndThings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="content">
    <%= yield %>
    <br>
    <% if logged_in? %>
       <span class="logout"><%= button_to "Logout", logout_path %></span>
    <% end %>
  </body>
</html>
